{
  "presets": [
    [
      "env",
      {
        "modules": false
      }
    ],
    "es2015",
    "stage-0"
  ],
  "plugins": [
    "syntax-async-functions",
    "transform-runtime",
    [
      "transform-regenerator",
      {
        "async": true,
        "asyncGenerators": true
      }
    ]
  ],
  "comments": false,
  "env": {
    "test": {
      "presets": [
        "env",
        "stage-2",
        "stage-0"
      ],
      "plugins": [
        "istanbul"
      ]
    }
  }
}
