{
  "presets": [
    [
      "env",
      {
        "modules": false
      }
    ],
      [
          "es2015",
          {
              "modules": false
          }
      ],
      "react",
    "stage-0"
  ],
  "plugins": [
    "syntax-async-functions",
    "transform-runtime",
    [
      "transform-regenerator",
      {
        "async": true,
        "asyncGenerators": true
      }
    ]
  ],
  "comments": false,
  "env": {
    "test": {
      "presets": [
          "react-hmre"
      ]
    }
  }
}
